.board__Container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.board__Container {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 5px;
}

.board__Container div {
    width: 100px;
    height: 100px;
    background-color: #0fc27b;
    color: white;
}